<div class="container">
    <h1>Quiz Management System</h1>
    
    <nav>
      <ul class="nav-tabs">
        <li [class.active]="activeTab === 'quiz'" (click)="setActiveTab('quiz')">Take Quiz</li>
        <li [class.active]="activeTab === 'questions'" (click)="setActiveTab('questions')">Question List</li>
        <li [class.active]="activeTab === 'add'" (click)="setActiveTab('add')">Add New</li>
      </ul>
    </nav>
    
    <div [ngSwitch]="activeTab">
      <app-quiz *ngSwitchCase="'quiz'"></app-quiz>
      <app-question *ngSwitchCase="'questions'"></app-question>
      <div class="gridView" *ngSwitchCase="'add'">
        <h2>Add New</h2>
        <button (click)="toggleForm('question')" *ngIf="!formVisible && !formVisibleQuiz">Add New Question</button>
        <button (click)="toggleForm('quiz')" *ngIf="!formVisible && !formVisibleQuiz">Add New Quiz</button>
        
        <app-question-form 
        *ngIf="formVisible"
         [(question)]="newQuestion" 
         (submitForm)="addQuestion()"
         (cancelForm)="toggleForm('question')">
        </app-question-form>

        <app-quiz-form
        *ngIf="formVisibleQuiz"
        [(quiz)]="newQuiz"
        (submitForm)="addQuiz()"
        (cancelForm)="toggleForm('quiz')">
        </app-quiz-form>

      </div>
    </div>
  </div>
  