:root {
    --primary-color: #4CAF50;
    --secondary-color: #81D4FA;
    --text-color: #333;
    --background-color: #F0F8FF;
}

body {
    font-family:'Courier New', Courier, monospace;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 20px;
}

.gridView{
    display: grid;
    grid-gap: 10px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3, h4 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

h1, h2,h3 {   
    text-align: center;
    margin-bottom: 30px;
}

.nav-tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    justify-content: center;
    border-bottom: 2px solid var(--secondary-color);
}

.nav-tabs li {
    padding: 10px 20px;
    cursor: pointer;
    margin: 7px;
    background-color: #45a049;
    color: #F0F8FF;
    transition: background-color 0.3s ease;
}

.nav-tabs li.active {
    background-color: var(--secondary-color);
    color: white;
    background-color: #4CAF50;
}

form {
    display: grid;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 3px 2px #5332;
    border-radius: 15px;
    background-color: white;
}

li h4 {
    margin-top: 0;
    color: var(--primary-color);
}

li p {
    margin: 5px 0;
}